* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 20px;
    width: 375px;    
    margin: 100px auto;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding: 15px;
    margin: 20px;
}


img {
    border-radius: 20px;
    width: 325px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}