* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 20px;
    max-width: 380px;    
    margin: 100px auto;
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    text-align: center;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.7rem;
    padding: 10px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}

p {
    font-size: 1rem;
    color: hsl(220, 15%, 55%);
    padding: 15px;
    margin: 10px;
}


img {
    border-radius: 20px;
    width: 340px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}